[submodule "lib/sdl"]
	path = lib/sdl
	url = https://github.com/libsdl-org/SDL
[submodule "lib/uthash"]
	path = lib/uthash
	url = https://github.com/troydhanson/uthash
[submodule "lib/cjson"]
	path = lib/cjson
	url = https://github.com/DaveGamble/cJSON
